
<p id="notice"><%= notice %></p>
<h1> <%= t('menu.posts') %> </h1>

<div class="table-responsive">  
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th> <%= translate 'activerecord.attributes.attribute_commons.title' %> </th>
        <th> <%= translate 'activerecord.attributes.attribute_commons.body' %> </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <% body_str = strip_tags post.body.gsub('><', '> <').strip %>
        <tr>
          <td> <%= post.title %> </td>
          <td> <%= truncate(body_str, length: 30) %> </td>
          <td> <%= link_to "<i class='fa fa-edit' title='#{translate 'form.button.edit'}'></i>".html_safe, edit_post_path(post) %> </td>
          <td> <%= link_to "<i class='fa fa-eye' title='#{translate 'form.button.show'}'></i>".html_safe, post%> </td>
          <td> <%= link_to "<i class='fa fa-trash-alt' title='#{translate 'form.button.destroy'}'></i>".html_safe, post, method: :delete, data: { confirm: "#{translate 'form.button.confirm'}" } %> </td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to "#{translate 'form.button.new'}", new_post_path, {class: "btn btn-dark"} %>
