
<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>
<small><%= l(@post.created_at, format: :long) %></small>


<div class="mt-4">
 
  <%= @post.body.html_safe %>
</div>

<%= link_to "#{translate 'form.button.edit'}", edit_post_path(@post), {class: "btn btn-dark"} if user_signed_in? %>

<%#= link_to "#{translate 'admin.form.back'}", posts_path, {class: "btn btn-dark"}  %>

<a href="javascript:history.back();">Voltar</a>
