<div class="table-responsive">
  <p id="notice"><%= notice %></p>

  <h1><%= @post.title %></h1>
  <small><%= l(@post.created_at, format: :long) %></small>

  <div class="mt-4"> 
    <%= @post.body.html_safe %>
  </div>

  <%= link_to "<i class='fa fa-edit' title='#{t 'form.button.edit'}'></i>".html_safe, edit_post_path(@post), {class: "btn btn-dark"} if user_signed_in? %>

  <%#= link_to "#{t 'admin.form.back'}", posts_path, {class: "btn btn-dark"}  %>

  <a class="btn btn-dark" href="javascript:history.back();"><%= "<i class='fa fa-undo' title='#{t 'form.button.back'}'></i>".html_safe%> </a>

  <hr>
  <% unless @post.comments.empty? %>
    <h5>Comentários</h5>
    <% @post.comments.each do |comment| %>    
      <div class="post_comment">
        <strong><%= comment.commenter%>:</strong>
        <small><%= l(comment.created_at, format: :long) %></small>
        <p><%= comment.body %> </p>           
        <span style='float:right;'>
          <%= link_to "<i class='fa fa-trash-alt' title='#{t 'form.button.destroy'}'></i>".html_safe, [comment.post, comment],
          method: :delete,
          data: { confirm: 'Tem certeza?' } %>
        </span>
      </div>
    <% end %>
  <% end %>
  <hr> 
  <h2>Adicionar um comentário:</h2>
  <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
    <% if @comment && @comment.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@comment.errors.count, "error") %> prohibited
          this comment from being saved:
        </h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>