<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>BarufisBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="LuisBarufi">   
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdn.ckeditor.com/4.6.1/basic/ckeditor.js' %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
      
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

      <a class="navbar-brand" >Barufi&rsquo;s Blog</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "#{t 'menu.home'}", root_path, { class: 'nav-link' } %>            
          </li>
          <li class="nav-item">
            <%= link_to "#{t 'menu.posts'}", posts_path, { class: 'nav-link' } %> 
          </li>

          <% if user_signed_in? %>
            <%= link_to("#{t 'menu.login'}", destroy_user_session_path, method: :delete, class: 'nav-link') %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
          <% end %>

        </ul>
        <ul class="navbar-nav mr-0">
          <li class="nav-item">
            <%= link_to t('form.english'), "#{request.path}?locale=en", {class: 'nav-link'} %>
          </li>
          <li class="nav-item">
            <%= link_to t('form.portuguese'), "#{request.path}?locale=pt-BR", {class: 'nav-link'} %>
          </li>
        </ul>
        
        <%= form_tag(posts_path, method: :get, class:"form-inline mt-2 mt-md-0") do |f| %>
          <input name="q" class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= t('menu.search') %></button>
        <% end %>

      </div>
    </nav>

    <main role="main" class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
      
    </main>

    <footer class="container">
      <p class="mt-5 mb-3 text-muted text-center ">&copy; Barufi&rsquo;s Blog</p>     
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-Iep5TjrwnXOp2AdreAjhlprhxI5Ix8Y3I/zJd1tNQZQmonaE3i6fTdrvIG9YjOWl" crossorigin="anonymous"></script>  
  </body>
</html>
